<div class="navbar-categories">
  <div class="category-container">
    <ul class="tabs-category flex">
      <% if params[:category].present? %>
        <%= link_to experiences_path, class: "accent-bottom-line" do %>
        <li class="tab-category">Tous</li>
        <% end %>
      <% else %>
        <%= link_to experiences_path, class: "accent-bottom-line" do %>
        <li class="tab-category selectedTab">Tous</li>
        <% end %>
      <% end %>

      <% Category.all.each do |category| %>
        <% if params[:category] == category.name %>
          <%= link_to experiences_path(category: category.name), class: "accent-bottom-line" do %>
            <li class="tab-category selectedTab"><%= category.name %></li>
          <% end %>
        <% else %>
          <%= link_to experiences_path(category: category.name), class: "accent-bottom-line" do %>
            <li class="tab-category"><%= category.name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
