<%= simple_form_for(user, url: user_invitation_path, html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "bob@yourcomapny.com",
                input_html: { autocomplete: "email" }%>
  <%= f.label :first_name, 'Prénom' %>
  <%= f.input :first_name,
                required: true,
                autofocus: true,
                label: false %>
  <%= f.label :last_name, 'Nom' %>
  <%= f.input :last_name,
                required: true,
                autofocus: true,
                label: false %>
 <%= f.input :company_id,
                required: true,
                autofocus: true,
                as: :hidden,
                input_html: { value: current_user.company.id } %>

  <div class="form-actions">
    <%= f.button :submit, t("devise.invitations.new.submit_button"), class: "btn btn-primary", value: "Envoyer une invitation"%>
    <% redirect_to new_post_path %>
  </div>
<% end %>
