<div class="dashboard-menu-wrapper wrapper">
  <div class="dashboard-header container">
    <ul class="tabs flex">
      <li class="tab-head tab-un-dashboard-head active">Dashboard</li>
      <li class="tab-head tab-deux-collaborateurs-head">Collaborateurs</li>
      <li class="tab-head tab-trois-invite-head">Inviter</li>
    </ul>
  </div>
</div>


<div class="dashboard-wrapper wrapper">
  <div class="dashboard-tabs container">

    <div class="row">
      <div class="tab-un-dashboard tab-content-center">
        <div class="grid-dashboard">
          <div class="dashboard-last-employee dash-card-white">
            <div class="dash-card-content">
              <p>Dernier employé inscrit</p>
              <br>
              <%= image_tag("Alex.jpg", class: "img-circle", height: '80') %>
              <h2>Alexandre Cousin</h2>
              <p>CTO</p>
            </div>
          </div>
          <div class="dashboard-info dash-card-white">
            <div class="dash-card-content">
              <p>Abonné Standard depuis</p>
              <p class="dash-number">192 jours</p>
            </div>
          </div>
          <div class="dashboard-info dash-card-white">
            <div class="dash-card-content">
              <p>Economie totale réalisée</p>
              <p class="dash-number">40 200€</p>
            </div>
          </div>
          <div class="dashboard-info dash-card-white">
            <div class="dash-card-content">
              <p>Nombre d'avantages</p>
              <p class="dash-number">1 857</p>
            </div>
          </div>
          <div class="dashboard-graph dash-card-white">
            <div class="dash-card-content">
              <p>Consommation d'avantages</p>
              <%= image_tag("dashboard_graph.svg", height: '200') %>
            </div>
          </div>
          <div class="dashboard-circle dash-card-white">
            <div class="dash-card-content">
              <p>Les plus consommés</p>
              <%= image_tag("dashboard_circle.svg", height: '200') %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="tab-deux-collaborateurs hidden tab-content-center">


        <table class="table table-hover">
          <thead class="thead-luma-blue">
            <tr class="d-flex">
              <th scope="col" style="width:30%">Nom</th>
              <th scope="col" style="width:15%">Age</th>
              <th scope="col" style="width:35%">Poste</th>
              <th scope="col" style="width:25%">Ville</th>
            </tr>
          </thead>
          <tbody>
           <% @employees.each do |employee|%>
           <tr>
            <td>
              <%= "#{employee.first_name.capitalize} #{employee.last_name.capitalize}" %>
            </td>
            <td>
              <%= (22..43).to_a.sample %>
            </td>
            <td>
              <% if employee.office_manager %>
              <%= "Office Manager" %>
              <% else %>
              <%= ["Développeur Front-End", "Développeur Back-End", "Lead développeur", "Designer", "Product Manager", "Growth Hacker", "Account Manager", "Responsable Communication", "Community Manager", "Business Développeur", "Développeur Front-End", "Développeur Back-End","Product Manager", "Designer"].sample %>
              <% end %>
            </td>
            <td>
              Paris
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="tab-trois-invite hidden tab-content-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-invitation">
              <h2>Inviter</h2>
              <%= render 'new_invitation', user: @user_to_create %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
