<div class="dashboard-menu-wrapper wrapper">
  <div class="dashboard-header container">
    <ul class="tabs flex">
      <li class="tab-head tab-un-dashboard-head active">Dashboard</li>
      <li class="tab-head tab-deux-collaborateurs-head">Collaborateurs</li>
      <li class="tab-head tab-trois-invite-head">Inviter</li>
    </ul>
  </div>
</div>


<div class="dashboard-wrapper wrapper">
  <div class="dashboard-tabs container">

    <div class="row">
      <div class="tab-un-dashboard tab-content-center">
        <p> Work in progress ...</p>
        <%= image_tag("dashboard_cut.png") %>
      </div>
    </div>

    <div class="row">
      <div class="tab-deux-collaborateurs hidden tab-content-center">


        <table class="table table-hover">
          <thead class="thead-luma-blue">
            <tr class="d-flex">
              <th scope="col" style="width:30%">Nom</th>
              <th scope="col" style="width:15%">Age</th>
              <th scope="col" style="width:35%">Poste</th>
              <th scope="col" style="width:25%">Ville</th>
            </tr>
          </thead>
          <tbody>
           <% @employees.each do |employee|%>
           <tr>
            <td>
              <%= "#{employee.first_name.capitalize} #{employee.last_name.capitalize}" %>
            </td>
            <td>
              <%= (22..43).to_a.sample %>
            </td>
            <td>
              <% if employee.office_manager %>
              <%= "Office Manager" %>
              <% else %>
              <%= ["Développeur Front-End", "Développeur Back-End", "Lead développeur", "Designer", "Product Manager", "Growth Hacker", "Account Manager", "Responsable Communication", "Community Manager", "Business Développeur", "Développeur Front-End", "Développeur Back-End","Product Manager", "Designer"].sample %>
              <% end %>
            </td>
            <td>
              Paris
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      </div>
    </div>

    <div class="row">
      <div class="tab-trois-invite hidden tab-content-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
              <div class="form-invitation">
                <h2>Inviter</h2>
                <%= render 'new_invitation', user: @user_to_create %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
