<div class="dashboard-menu-wrapper wrapper">
  <div class="dashboard-header container">
    <ul class="tabs flex">
      <li class="tab-head tab-un-dashboard-head active">Dashboard</li>
      <li class="tab-head tab-deux-collaborateurs-head">Collaborateurs</li>
      <li class="tab-head tab-trois-invite-head">Inviter</li>
    </ul>
  </div>
</div>


<div class="dashboard-wrapper wrapper">
  <div class="dashboard-tabs container">

    <div class="row">
      <div class="tab-un-dashboard tab-content-center">
        <p> Work in progress ...</p>
        <%= image_tag("dashboard_cut.png") %>
      </div>
    </div>

    <div class="row">
      <div class="tab-deux-collaborateurs hidden tab-content-center">


        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

        <div class="collaborateurs-wrapper">

          <div class="collaborateurs-table">

            <div class="collaborateurs-row header">
              <div class="collaborateurs-cell">
                Name
              </div>
              <div class="collaborateurs-cell">
                Age
              </div>
              <div class="collaborateurs-cell">
                Occupation
              </div>
              <div class="collaborateurs-cell">
                Location
              </div>
            </div>

            <div class="collaborateurs-row">
              <div class="collaborateurs-cell" data-title="Name">
                Luke Peters
              </div>
              <div class="collaborateurs-cell" data-title="Age">
                25
              </div>
              <div class="collaborateurs-cell" data-title="Occupation">
                Freelance Web Developer
              </div>
              <div class="collaborateurs-cell" data-title="Location">
                Brookline, MA
              </div>
            </div>

            <% @employees.each do |employee|%>
            <div class="collaborateurs-row">
              <div class="collaborateurs-cell" data-title="Name">
                <%= "#{employee.first_name.capitalize} #{employee.last_name.capitalize}" %>
              </div>
              <div class="collaborateurs-cell" data-title="Age">
                <%= (22..43).to_a.sample %>
              </div>
              <div class="collaborateurs-cell" data-title="Occupation">
                <% if employee.office_manager %>
                <%= "Office Manager" %>
                <% else %>
                <%= ["Développeur Front-End", "Développeur Back-End", "Lead développeur", "Designer", "Product Manager", "Growth Hacker", "Account Manager", "Responsable Communication", "Community Manager", "Business Développeur", "Développeur Front-End", "Développeur Back-End","Product Manager", "Designer"].sample %>
                <% end %>
              </div>
              <div class="collaborateurs-cell" data-title="Location">
                Somerville, MA
              </div>
            </div>
            <% end %>


          </div>

        </div>
      </div>

      <div class="row">
        <div class="tab-trois-invite hidden tab-content-center">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                <div class="form-invitation">
                  <h2>Inviter</h2>
                  <%= render 'new_invitation', user: @user_to_create %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
