<h1>Choisissez vos types d'avantages préférées</h1>

<div class="cards">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1527979809431-ea3d5c0c01c9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1984&q=80)">
    <%= Category.name %>
    <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/reserve/91JuTaUSKaMh2yjB1C4A_IMG_9284.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=850&q=70)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= Category.name %>
  <%= link_to "J'aime 😍", "#", class: "btn btn-ghost"%>
  </div>

</div>



