<%= render 'shared/navbar-categories' %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_pPJQQ8znmU6odrdjLurRTPsm');
</script>

<div class="wrapper-1" style="background: linear-gradient(#008B8B, #163487)">

<% content_for :meta_title, "#{@experience.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @experience.description %>
<% content_for :meta_image, cl_image_path(@experience.photo_experience) %>

  <div class="container">
    <div class="row">

<!-- Partie gauche experience -->
      <div class="col-sm-12 col-lg-8">

        <div class="experience-card-show">
          <div class="img-xp">
            <%= image_tag @experience.photo_experience; %>
          </div>

          <div class="partner flex">
            <div class="partner-infos">
              <div class="partner-name">
                <h2>Notre partenaire</h2>

              </div>

              <div class="partner-description">
                <p><%= @experience.description %></p>
              </div>
            </div>

            <div class="show-image-logo-partner">
              <%= image_tag @experience.partner_logo %>
              <span id="plus-d-infos">plus d'infos</span>
            </div>

          </div>

        </div>

      </div>

<!-- Partie droite partenaire -->

      <div class="col-sm-12 col-lg-4">

        <div class="experience">

          <div class="experience-details-show">

            <div class="price-container-show flex">
              <div class="graphic"></div>
              <div class="prix-public">
                <p class="price"><%= @experience.public_price.to_i %>€</p>
                <p id="prix-public">Prix public</p>
              </div>
              <div class="prix-luma ">
                <p class="price"><%= humanized_money(@experience.price) %>€</p>
                <%= image_tag "logo_luma_white.png", height: 20 %>
              </div>
            </div>
          </div>

          <div class="experience-infos-show">
            <div class="experiences-text-show">
              <h2><%= @experience.name %></h2>
              <p> <%= @experience.description %></p>
            </div>

          <div class="validity-title flex">
            <i class="fas fa-calendar-alt"></i>
            <p>Jusqu'au <%= @experience.validity_date.strftime("%d %B %Y")%></p>
          </div>
        </div>
          <div class="stripe">
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="Mon avantage"
                data-email="<%= current_user.email %>"
                 data-label="Bénéficier de cet avantage"></script>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
