<%= render 'shared/navbar-categories' %>

<% content_for :meta_title, "#{@experience.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @experience.description %>
<% content_for :meta_image, cl_image_path(@experience.photo_experience) %>

<div class="wrapper-1">
  <div class="container">
    <div class="row">

<!-- Partie gauche experience -->
      <div class="col-sm-12 col-lg-8">

        <div class="experience-card-show">
          <div class="img-xp">
            <%= image_tag @experience.photo_experience; %>
          </div>

          <div class="experience-infos-show">
            <div class="experiences-text-show">
              <h2><%= @experience.name %></h2>
              <p> <%= @experience.description %></p>
            </div>

            <div class="experience-details-show flex">
              <div class="validity_date flex">
                <i class="fas fa-calendar-alt"></i>
                <%= @experience.validity_date.strftime("%d/%m") %>
              </div>
              <div class="price-container-show flex">
                <div class="prix-public flex">
                  <p id="public-price">Prix public</p>
                  <p><%= @experience.public_price.to_i %>€</p>
                </div>
                <div class="prix-luma flex">
                  <%= image_tag "logo_luma.svg", height: 25 %>
                  <p><%= humanized_money(@experience.price) %>€</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

<!-- Partie droite partenaire -->

      <div class="col-sm-12 col-lg-4">

        <div class="partner">

          <div class="partner-title flex">
            <h2>Notre partenaire</h2>
          </div>

          <div class="partner-name">
            <h3><%= @experience.partner_name %></h3>
          </div>

          <div class="partner-description">
            <p><%= @experience.partner_description %></p>
            <span id="plus-d-infos">plus d'infos</span>
          </div>

          <div class="show-image-logo-partner">
            <%= image_tag @experience.partner_logo %>
          </div>

          <div class="stripe">
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="Mon avantage"
                data-email="<%= current_user.email %>"
                 data-label="Profiter de cet avantage"></script>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
