<%= render 'shared/navbar-categories' %>
<div class="wrapper-1">

	<div class="show-image">

<!-- <div class="row">
    <div class="col-sm-12"> -->

		<div class="img-xp">
			<%= image_tag @experience.photo_experience; %>
		</div>

		<div class="price-container-show">
			<h3 class="price-after"><h3>Amount: <%= humanized_money_with_symbol(@experience.price) %></h3>
			<h4 class="price-before"><%= @experience.public_price.to_i %>€</h4>
		</div>

		<div class="partner">
			<h2> Notre partenaire :</h2>
			<div class="show-image-logo-partner">
				<%= image_tag @experience.partner_logo, height: 80 %>
			</div>
		</div>

	<div class="experience-info">
		<h2><%= @experience.name %></h2>
    <br>
		<p> <%= @experience.description %></p>

		 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name= "Mon avantage"
    data-email="<%= current_user.email %>"
    </script>

	</div>
  <!-- </div>

   </div> -->
  </div>

</div>
