<div class="wrapper-form" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.2) 0%), url('http://www.catfinnie.co.uk/assets/img/portfolio/masonry/CatFinnie_WeekendSight.jpg');">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
  <div class="form-invitation">
    <h2><%= t "devise.invitations.edit.header" %></h2>

<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :invitation_token %>

  <div class="form-inputs">
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>
  <div >
    <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
  </div>
<% end %>
  </div>
</div>
</div>